@import "tailwindcss";


@tailwind utilities;

.bg-window{
	@apply bg-white dark:bg-gray-900 text-slate-900 dark:text-slate-200;
}
.bg-base {
	@apply bg-gray-100 dark:bg-gray-800;
}
.bg-base-100 {
	@apply bg-gray-100 dark:bg-gray-800;
}
.bg-base-200 {
	@apply bg-gray-200 dark:bg-gray-700;
}
.bg-base-300 {
	@apply bg-gray-300 dark:bg-gray-600;
}
.bg-base-400 {
	@apply bg-gray-400 dark:bg-gray-500;
}
.hover\:bg-base {
	@apply hover:bg-gray-100 dark:hover:bg-gray-800;
}
.hover\:bg-base-100 {
	@apply hover:bg-gray-100 dark:hover:bg-gray-800;
}
.hover\:bg-base-200 {
	@apply hover:bg-gray-200 dark:hover:bg-gray-700;
}
.hover\:bg-base-300 {
	@apply hover:bg-gray-300 dark:hover:bg-gray-600;
}
.hover\:bg-base-400 {
	@apply hover:bg-gray-400 dark:hover:bg-gray-500;
}
/* Do the same for the borders */
.border-base {
	@apply border-gray-800 dark:border-gray-100;
}
.border-base-100 {
	@apply border-gray-800 dark:border-gray-100;
}
.border-base-200 {
	@apply border-gray-700 dark:border-gray-200;
}
.border-base-300 {
	@apply border-gray-600 dark:border-gray-300;
}
.border-base-400 {
	@apply border-gray-500 dark:border-gray-400;
}
/* border-base hover states */
.hover\:border-base {
	@apply hover:border-gray-800 dark:hover:border-gray-100;
}
.hover\:border-base-100 {
	@apply hover:border-gray-800 dark:hover:border-gray-100;
}
.hover\:border-base-200 {
	@apply hover:border-gray-700 dark:hover:border-gray-200;
}
.hover\:border-base-300 {
	@apply hover:border-gray-600 dark:hover:border-gray-300;
}
.hover\:border-base-400 {
	@apply hover:border-gray-500 dark:hover:border-gray-400;
}
/* Do the same for the text */
.text-base {
	@apply text-gray-800 dark:text-gray-100;
}
.text-base-100 {
	@apply text-gray-800 dark:text-gray-100;
}
.text-base-200 {
	@apply text-gray-700 dark:text-gray-200;
}
.text-base-300 {
	@apply text-gray-600 dark:text-gray-300;
}
.text-base-400 {
	@apply text-gray-500 dark:text-gray-400;
}
/* text hover  */
.hover\:text-base {
	@apply hover:text-gray-800 dark:hover:text-gray-100;
}
.hover\:text-base-100 {
	@apply hover:text-gray-800 dark:hover:text-gray-100;
}
.hover\:text-base-200 {
	@apply hover:text-gray-700 dark:hover:text-gray-200;
}
.hover\:text-base-300 {
	@apply hover:text-gray-600 dark:hover:text-gray-300;
}
.hover\:text-base-400 {
	@apply hover:text-gray-500 dark:hover:text-gray-400;
}


button, a {
	@apply cursor-pointer transition-all duration-200 ease-in-out;
}

.btn {
	@apply font-bold py-2 px-4 rounded border border-transparent cursor-pointer;
}

/* Disabled button fade out */
.btn:disabled {
	@apply opacity-50 cursor-not-allowed;
}

.btn-primary{
	@apply bg-blue-500 text-white border-blue-500 hover:bg-blue-600;
}
.btn-primary.btn-outline{
	@apply bg-transparent text-blue-500 border-blue-500 hover:bg-blue-600;
}

.btn-secondary{
	@apply bg-orange-500 text-white border-orange-500;
}
.btn-secondary.btn-outline{
	@apply bg-transparent text-orange-500 border-orange-500 hover:bg-orange-600;
}

.btn-danger {
	@apply bg-red-500 text-white border-red-500 hover:bg-red-600;
}
.btn-danger.btn-outline {
	@apply bg-transparent text-red-500 border-red-500 hover:bg-red-600;
}

.btn-success {
	@apply bg-green-500 text-white border-green-500 hover:bg-green-600;
}
.btn-success.btn-outline {
	@apply bg-transparent text-green-500 border-green-500 hover:bg-green-600;
}

.btn-warning {
	@apply bg-yellow-500 text-white border-yellow-500 hover:bg-yellow-600;
}
.btn-warning.btn-outline {
	@apply bg-transparent text-yellow-500 border-yellow-500 hover:bg-yellow-600;
}

.btn-info {
	@apply bg-teal-500 text-white border-teal-500 hover:bg-teal-600;
}
.btn-info.btn-outline {
	@apply bg-transparent text-teal-500 border-teal-500 hover:bg-teal-600;
}

.btn-dark {
	@apply bg-gray-800 text-white border-gray-800 hover:bg-gray-900;
}
.btn-dark.btn-outline {
	@apply bg-transparent text-gray-800 border-gray-800 hover:bg-gray-900 dark:text-gray-400 dark:border-gray-400 dark:hover:border-gray-500;
}

.btn-light {
	@apply bg-gray-200 text-black border-gray-200 hover:bg-gray-300;
}
.btn-light.btn-outline {
	@apply bg-transparent text-gray-200 border-gray-200 hover:bg-gray-300;
}

.btn-link {
	@apply bg-transparent text-blue-500 underline;
}

.btn-ghost {
	@apply bg-transparent text-gray-600 dark:text-white hover:bg-slate-400/30;
}

.btn-outline {
	@apply bg-transparent text-gray-600 dark:text-white;
}


.btn.btn-sm{
	@apply py-1 px-2 text-sm;
}

.btn.btn-lg{
	@apply py-3 px-6 text-lg;
}

.link-primary {
	@apply text-blue-500 hover:text-blue-600;
}

.link-secondary {
	@apply text-orange-500 hover:text-orange-600;
}

.link-danger {
	@apply text-red-500 hover:text-red-600;
}

.link-success {
	@apply text-green-500 hover:text-green-600;
}

.link-warning {
	@apply text-yellow-500 hover:text-yellow-600;
}

.link-info {
	@apply text-teal-500 hover:text-teal-600;
}

.link-dark {
	@apply text-gray-800 hover:text-gray-900;
}

.link-light {
	@apply text-gray-200 hover:text-gray-300;
}

.link-link {
	@apply text-blue-500 underline;
}

.link-ghost {
	@apply text-gray-600 dark:text-white;
}

input:disabled, textarea:disabled {
	@apply opacity-50;
}


#app-drag-region {
	@apply fixed top-0 left-0 w-full h-8 hover:bg-red-500/5 transition-all duration-300 ease-in-out;
}
/* width */
::-webkit-scrollbar {
	@apply rounded-full w-2;
}

/* Track */
::-webkit-scrollbar-track {
	@apply  bg-gray-300 dark:bg-gray-500;
}

/* Handle */
::-webkit-scrollbar-thumb {
	@apply rounded-full bg-gray-500 dark:bg-gray-700;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}



.logo {
	  @apply bg-clip-text text-transparent;
  background-image: linear-gradient(
    45deg,
    #ffd700,  /* yellow */
    #32cd32,  /* lime green */
    #87ceeb,  /* sky blue */
    #ff69b4,  /* pink */
    #9370db   /* purple */
  );
}

/* Add all the styling for the markdown */
.markdown{
	@apply break-words;
}
.markdown h1 {
	@apply text-4xl font-bold my-4;
}
.markdown h2 {
	@apply text-3xl font-bold my-3;
}
.markdown h3 {
	@apply text-2xl font-bold my-2;
}
.markdown h4 {
	@apply text-xl font-bold my-2;
}
.markdown h5 {
	@apply text-lg font-bold my-2;
}
.markdown h6 {
	@apply text-base font-bold my-2;
}
.markdown p {
	@apply my-2;
}
.markdown ul {
	@apply list-disc pl-4 my-2;
}
.markdown ol {
	@apply list-decimal pl-4 my-2;
}
.markdown li {
	@apply my-1;
}
.markdown blockquote {
	@apply border-l-4 border-gray-300 pl-2 my-2;
}
.markdown pre {
	@apply bg-gray-900 text-white p-2 my-2;
}
.markdown code {
	@apply  p-1 break-words overflow-x-scroll;
}
.markdown a {
	@apply text-blue-500 underline;
}
.markdown img {
	@apply my-2;
}
.markdown table {
	@apply w-full my-2;
}
.markdown th {
	@apply bg-gray-200;
}
.markdown td {
	@apply bg-gray-100;
}
.markdown hr {
	@apply my-2;
}
.markdown strong {
	@apply font-bold;
}
.markdown em {
	@apply italic;
}
.markdown del {
	@apply line-through;
}
.markdown sup {
	@apply text-xs;
}
.markdown sub {
	@apply text-xs;
}
.markdown .highlight {
	@apply bg-gray-800 text-white p-2 my-2;
}
.markdown .highlight pre {
	@apply bg-transparent p-0;
}
.markdown .highlight code {
	@apply bg-transparent p-0;
}
.markdown .highlight pre code {
	@apply bg-transparent p-0;
}
